flask
flask-cors

# # openTelemetry - Honeycomb
# opentelemetry-api 
# opentelemetry-sdk
# opentelemetry-exporter-otlp-proto-http
# opentelemetry-instrumentation-flask
# opentelemetry-instrumentation-requests

# # aws xray
# aws-xray-sdk

# #cloudwatch
# watchtower

 # Rollbar
# blinker
# rollbar

requests
python-jose

psycopg[binary]
psycopg[pool]

boto3